/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000; /* fondo negro para el canvas */
}

/* Canvas infinito */
#canvas {
    display: block;
    background-color: #000;
    cursor: grab;
}

/* Ventana de planeta */
#planetWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* translúcida */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#planetWindow.hidden {
    display: none;
}

#planetWindow input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;
    outline: none;
}

/* Color picker para soles */
#colorPicker {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.hidden {
    display: none;
}
